<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.PetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pet</servlet-name>
        <url-pattern>/pet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>petadd</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.PetAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPageServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.UserPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetSearchServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.PetSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadingUserPhotoServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.UploadingUserPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserImgServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.GetUserImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.strontsitskiy.servelets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserImgServlet</servlet-name>
        <url-pattern>/getuserimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadingUserPhotoServlet</servlet-name>
        <url-pattern>/uploaduserphoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/useredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetSearchServlet</servlet-name>
        <url-pattern>/petsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPageServlet</servlet-name>
        <url-pattern>/userpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petadd</servlet-name>
        <url-pattern>/petadding</url-pattern>
    </servlet-mapping>

</web-app>